{{#each posts as |post|}}
<div class="container px-1 my-3 postSnip postBox">
    <div class="post-header text-left">
        <h3>
            <a href='/dashboard/post/{{post.id}}'>{{post.title}}</a>
        </h3>
        <h6>Posted on {{format_date post.created_on}}</h6>
        <button class="btn btn-danger delPostBtn" data-id="{{post.id}}">X</button>
    </div>
</div>
{{/each}}
<div class="container text-center">
    <a href="/dashboard/new-post" class="btn btn-success">+Add Post+</a>
</div>
<script src="/js/dashboard.js"></script>