<div id="addContentBox" class="container my-5 bdr">
    <form>
        <div class="mb-2">
            <label for="contentInput" class="form-label">Comment:</label>
            <textarea class="form-control" id="contentInput" rows="4"></textarea>
        </div>

        <div class="mb-2 text-center">
        <button class="btn btn-success">Add</button>
        </div>
    </form>
</div>
<script src="/js/addCont"