:root {
    --primary: #2E4148;
    --secondary: #628f8a;
    --tertiary: #42da5e;
    --quartenary: #f7ca41;
}

body {
    background-color: var(--primary)
}

header {
    background-color: var(--secondary);
}

.bdr {
    border: 2px solid var(--secondary);
    border-radius: 2px;
}

.post {
    height: 300px;
    width: 50%;
    background-color: var(--quartenary);
}

.postSnip {
    width: 50%;
}

.postBox {
    position: relative;
}

.post-header {
    background-color: var(--tertiary)
}

.delPostBtn {
    position: absolute;
    bottom: 25%;
    right: 5px;
}

#addCommentBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.comment {
    width: 45%;
    background-color: var(--quartenary)
}

#addContentBox {
    width: 50%;
    background-color: var(--tertiary)
}