:root {
    --primary: ;
    --secondary: ;
}

.bdr {
    border: 2px dotted red;
}

.post {
    height: 300px;
    width: 50%;
}

#postBox {
    position: relative;
}

#addCommentBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.comment {
    width: 45%;
}